
.icon-folder:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-blind:before { content: '\f29d'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */